{% extends 'landing_master.html' %}
{% load static %}
{% block content %}

<section class="secation_1">
			<img src="{% static 'img/icons1.png'%}" class="svg_circle">
			<img src="{% static 'img/icons2.png'%}" class="svg_ring">
			<img src="{% static 'img/icons1.png'%}" class="svg_circle1">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="row secation_1_headline">
							<div class="heading">Fixing your <span style="color:#14b65c">creativity</span> with Power of <span style="color:#14b65c">AI</span></div>
							<p>Fyx.AI is your ideal partner for unleashing your digital content creation needs. Unlocking your creativity for text, image, audio, video generation, helping you reduce our efforts and time by 80%.</p>
						</div>
						<div class="allbtns_section">
							<a href="#">Register</a>
							<a href="#">View All</a>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<picture>
							<source srcset="" type="">
							<img src="{% static 'img/landing_img.png'%}" style="width: -webkit-fill-available;position: relative;filter: drop-shadow(2px 17px 86px #e2e2e2);height:-webkit-fill-available ;">
						</picture>
					</div>
				</div>	
			</div>
		</section>

		<section class="secation_2">
			<div class="container">
				<div class="row d-flex mb-2" style="margin: auto;">
					<div class="section2_header">How it <strong>works</strong></div>
					<p class="section2_para">Fyx.ai is easy to use and there is steps below showing.</p>
				</div>

				<div class="row howitworklist">
					<div class="card howtowork_card">
						<div class="card-body" style="padding: 0;">
							<div class="row" style="margin:auto;">
								<span class="workicon"><i class="fa-solid fa-marker"></i> <strong>Write</strong></span>
								
								<p style="text-align: left;">Outline main points, purpose, audience, and message for content creation to establish a strong foundation.</p>
							</div>
						</div>
					</div>

					<div class="card howtowork_card">
						<div class="card-body" style="padding: 0;">
							<div class="row" style="margin:auto;">
								<span class="workicon"><i class="fa-solid fa-gears"></i> <strong>Generate</strong></span>
								
								<p style="text-align: left;">Fyx.AI, an advanced AI tool, generates content using powerful algorithms to meet specific requirements.</p>
							</div>
						</div>
					</div>

					<div class="card howtowork_card">
						<div class="card-body" style="padding: 0;">
							<div class="row" style="margin:auto;">
								<span class="workicon"><i class="fa-solid fa-filter"></i> <strong>Refine</strong></span>
								
								<p style="text-align: left;">Please provide me with the topic or content you would like me to create a paragraph about.</p>
							</div>
						</div>
					</div>

					<div class="card howtowork_card">
						<div class="card-body" style="padding: 0;">
							<div class="row" style="margin:auto;">
								<span class="workicon"><i class="fa-solid fa-earth-americas"></i> <strong>Pubilsh</strong></span>
								
								<p style="text-align: left;">Format, add media, proofread, then publish your content on the appropriate platform for maximum impact.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="secation_3" id="features">
			<img src="{% static 'img/dots.png' %}" class="svg_dot" style="position: absolute;width: 12%;left: 2%;">
			<img src="{% static 'img/dots.png' %}" class="svg_dot1" style="position: absolute;width: 12%;right: 2%;bottom: 2%;">
			<div class="container-fluid">
				<div class="row" style="margin:auto;">
					<div class="section3_header"><strong>Fyx.AI</strong> will help</div>
					<p class="section3_para">How will unlock your creativity potential ?</p>
				</div>
			</div>

			<div class="row section3_cardlist">
				<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
								<span style="margin-bottom: 10px;"><i class="fa-solid fa-wand-magic-sparkles"></i></span>
								<strong>Revolutionize</strong>
								<p>Revolutionize content creation with innovative tools and strategies, captivating audiences and elevating ordinary ideas</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-clock"></i></span>
							<strong>Save Time</strong>
							<p>AI-based content generation can produce high-quality content in just minutes, saving you hours of work</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-bar-chart"></i></span>
							<strong>Improves productivity</strong>
							<p>With faster content creation, you can focus on other important tasks and increase overall productivity</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-boxes-stacked"></i></span>
							<strong>Customizable Content</strong>
							<p>AI-based content generation allows for personalized settings and customization to fit your brand's unique voice and style</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-people-group"></i></span>
							<strong>Improves SEO</strong>
							<p>AI-generated content can be optimized for search engines, improving your website's visibility and ranking</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-language"></i></span>
							<strong>Multilingual Support</strong>
							<p>AI-based content generation can produce content in multiple languages, expanding your reach to a wider audience</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-scale-unbalanced-flip"></i></span>
							<strong>Scalability</strong>
							<p>AI-based content generation can handle large volumes of content creation without sacrificing quality or consistency</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-bars-staggered"></i></span>
							<strong>Flexibility</strong>
							<p>AI generates versatile content: text, video, audio. Flexibility enhances content creation strategies</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-wind"></i></span>
							<strong>Increases consistency</strong>
							<p>AI-generated content can maintain a consistent tone, style, and quality across all your content</p>
						</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row" style="margin: auto;">
							<span style="margin-bottom: 10px;"><i class="fa-solid fa-wallet"></i></span>
							<strong>Reduces Costs</strong>
							<p>AI-generated content saves costs by eliminating staff and outsourcing, benefiting businesses in the long term</p>
						</div>
						</div>
					</div>
			</div>


		</section>


		<section class="secation_4" id="pricing">
			<div class="container">

				<div class="row section4_header" style="margin:auto;">
					<strong>We've got a <strong>plan</strong></strong>
					<strong>that's <strong>prefect</strong> for you </strong>
				</div>
				<div class="section4_price_button" style="margin:auto;">
					<button id="monthbtn">Monthly</button>
					<button id="annualbtn">Annually</button>
				</div>


				<div class="row pricing_cardlist" id="annually_sub" style="margin:auto;">

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Basic</strong>
								<strong>$10 <span>/per annual</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>100000+ Words/annual</li>
									<li>40+ Customized template</li>
									<li>Multiple languages</li>
									<li>1 User seat</li>
									<li>Unlimited projects</li>
								</ul>
							</div>
							
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Pro</strong>
								<strong>$20 <span>/per annual</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>200000+ Words/annual</li>
									<li>40+ Customized templates</li>
									<li>Multiple languages</li>
									<li>5 User seats</li>
									<li>Multiple projects</li>
									<li>Priority email support</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Master</strong>
								<strong>$30 <span>/per annual</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>500000+ Words/annual</li>
									<li>40+ Customized templates</li>
									<li>Multiple languages</li>
									<li>20 User seats</li>
									<li>Unlimited projects</li>
									<li>Priority email support</li>
									<li>24*7 Chat support</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- annually -->

				<div class="row pricing_cardlist" id="monthly_sub" style="margin:auto;">

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Basic</strong>
								<strong>$10 <span>/per month</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>100000+ Words/month</li>
									<li>40+ Customized template</li>
									<li>Multiple languages</li>
									<li>1 User seat</li>
									<li>Unlimited projects</li>
								</ul>
							</div>
							
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Pro</strong>
								<strong>$20 <span>/per month</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>200000+ Words/month</li>
									<li>40+ Customized templates</li>
									<li>Multiple languages</li>
									<li>5 User seats</li>
									<li>Multiple projects</li>
									<li>Priority email support</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row price_header" style="margin:auto;">
								<strong>Master</strong>
								<strong>$30 <span>/per month</span></strong>
							</div>
							<div class="row price_buttons" style="margin">
								<button id="plan_1" data="basic">Choose plan</button>
							</div>
							<hr/>
							<div class="row price_desp" style="margin:auto;">
								<ul>
									<li>500000+ Words/month</li>
									<li>40+ Customized templates</li>
									<li>Multiple languages</li>
									<li>20 User seats</li>
									<li>Unlimited projects</li>
									<li>Priority email support</li>
									<li>24*7 Chat support</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="secation_5" id="client_feedbacks">
			<img src="{% static 'img/horizantal_dots.png' %}" class="svg_dot" style="position: absolute;width: 24%;left: 2%;">
			<img src="{% static 'img/dots.png' %}" class="svg_dot1" style="position: absolute;width: 12%;right: 2%;bottom: 2%;">
			<div class="container">
				<div class="row review_tag" style="margin:auto;margin-bottom: 2rem;">
					<strong>Testimonials</strong>
					<h5>What our people says about us.</h5>
					<p>Our clients send us bunch of smiles with our services and we love them</p>
				</div>

				<div class="row d-flex">
					<div class="col-lg-4 col-md-5 col-sm-12">
						<div class="row testimonial_list" style="margin:auto;">
							<div class="card active">
								<div class="card-body">
									<div class="d-flex">
										<div class="user_profile">
											<img src="{% static 'img/img1.jpg'%}">
										</div>
										<div class="row user_details">
											<strong>Max Well</strong>
											<p>Content writer</p>
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<div class="d-flex">
										<div class="user_profile">
											<img src="{% static 'img/img2.jpg'%}">
										</div>
										<div class="row user_details">
											<strong>Rechal Mack</strong>
											<p>Content writer</p>
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<div class="d-flex">
										<div class="user_profile">
											<img src="{% static 'img/img3.jpg'%}">
										</div>
										<div class="row user_details">
											<strong>Max Well</strong>
											<p>Content writer</p>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
					<div class="client_feed col-lg-8 col-md-5 col-sm-12 ">
						<div class="row testimonial_result" style="margin:auto;">
							
							<div class="card active">
								<div class="card-body">
									<div class="d-flex" style="margin:auto;justify-content: center;margin-bottom: 1rem;">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>

									<div class="row user_feedback">
										<blockquote style="padding: 3%;">We aim to be Earth's most customer-centric company, and our mission is to continue raising the bar of customer experience!</blockqutoe>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<div class="d-flex" style="margin:auto;justify-content: center;margin-bottom: 1rem;">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>

									<div class="row user_feedback">
										<blockquote style="padding: 3%;">Towards the end of this guide, we’ll introduce our app, Magical. You can use Magical’s text expander in combo with these templates to speed up your customer review response rate. ✌️</blockqutoe>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<div class="d-flex" style="margin:auto;justify-content: center;margin-bottom: 1rem;">
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i>
									</div>

									<div class="row user_feedback">
										<blockquote style="padding: 3%;">Thanks so much for your feedback [CUSTOMER NAME]! It makes our day hearing about how much our customers love [PRODUCT/SERVICE NAME] and the great service they’ve received from our team. We have passed on your review to our team and look forward to seeing you in our [LOCATION] store again.</blockqutoe>
									</div>
								</div>
							</div>


						</div>		
					</div>
				</div>

			</div>
		</section>

		<section class="secation_7" id="get_in_touch">
			<img src="{% static 'img/icons2.png'%}" class="svg_contact_ring">
			<img src="{% static 'img/icons2.png'%}" class="svg_contact_ring2">
			<div class="container">
				<div class="row contact_header">
					<span class="tag">Get in touch</span>
					<strong>Contact our friendly team</strong>
					<p>Reach out and we'll get in touch within 24 hours.</p>
				</div>

				<div class="row d-flex">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="{% static 'img/contactus.png'%}" style="width:100%">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="row office_address" style="margin:auto">

							<div class="col-lg-6 col-md-6 col-sm-12 ">
								<div class="row" style="margin:auto">
									<strong><i class="fa-solid fa-envelope"></i> Email Us</strong>
									<p class="text-start">Speak to our friendly team.</p>
									<p class="text-start">info@fyx.ai</p>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="row" style="margin:auto">
									<strong><i class="fa-solid fa-phone"></i> Call Us</strong>
									<p class="text-start">Mon-Fri from 10am to 5pm.</p>
									<p class="text-start">(+91) 234-345-7890</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="row" style="margin:auto">
									<strong><i class="fa-solid fa-location-dot"></i> Visit Us</strong>
									<p class="text-start">Visit our office HQ.</p>
									<p class="text-start">Mumbai, Maharashtra, India</p>
								</div>
							</div>
						</div>

						<div class="row subscription">
							<strong>Subscribe to our Newsletter</strong>
							<p class="text-start">Recieve special promotions and inside information about upcoming products !</p>
							<input type="text" name="" class="form-custom" placeholder="Email address...">
							<button class="btn-subscribe">Submit</button>

						</div>

					</div>
				</div>

			</div>
		</section>

		<div class="modal fade" id="signup_welcome" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-xl modal-dialog-centered">
		    <div class="modal-content" style="border: none;">
		      
		      <div class="modal-body signup_body" style="padding: 0;">
		        <div class="row" style="margin:auto;">
		        	<div class="col-lg-6 col-md-6 col-sm-12 welcome_left_side">
		        		<img class="wallpaper" src="{% static 'img/nature.jpg' %}" style="width: -webkit-fill-available;border-radius: 6px 0px 0px 6px;height: 90vh;">
		        	</div>
		        	<div class="col-lg-6 col-md-6 col-sm-12  welcome_right_side">
		        		<div class="d-flex" style="justify-content: end;padding: 1%;margin-bottom: 4rem;">
		        		 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		        		</div>

		        		<div class="row social_box" style="margin:auto;">
		        			<strong>Create account</strong>
		        			<p class="text-start">Start your 14-day free trial</p>

		        			<a href="#" class="btngoogle"><img src="{% static 'img/google.png'%}"> Sign up with Google</a>
		        			<a href="#" class="btngoogle"><img src="{% static 'img/apple.png'%}"> Sign up with Apple ID</a>
		        		</div>
		        		<hr/>

		        		<div class="row newsignup" style="margin:auto;">
		        			<label>Email*</label>
		        			<input type="email" name="email" placeholder="Enter your email" class="form-custom">

		        			<label>Password*</label>
		        			<input type="email" name="email" placeholder="Enter your email" class="form-custom">
		        			<p class="text-start">Must be at least 8 characters.</p>
		        			<button class="btn-subscribe mb-4">Create account</button>

		        			<span>Already have an account? <a href="#">Log In</a></span>
		        		</div>
		        	</div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

<script type="text/javascript">
	$('#annually_sub').hide()

	$('#monthbtn').click(function(){
		$('#annually_sub').hide()
		$('#monthly_sub').show()
	})
	$('#annualbtn').click(function(){
		$('#monthly_sub').hide()
		$('#annually_sub').show()
	})

	setTimeout(function() {
    $('#signup_welcome').modal('show');
		// body...
	}, 5000)

	

	count = 1;

	function feedback_curosal() {
		var user_data = $('.testimonial_result .card').length;
				
		if(count == 1){

			for(var i=0;i<user_data; i++){
				var dt = $('.testimonial_result .card').get(i);
				var user_feed = $('.testimonial_list .card').get(i);
				user_feed.classList.remove('active')
				dt.classList.remove('active');
				
			}
			$('.testimonial_result .card').get(0).classList.add('active')
			$('.testimonial_list .card').get(0).classList.add('active')
	
			count = 2;
		}
		else if(count == 2){
			for(var i=0;i<user_data; i++){
				var dt = $('.testimonial_result .card').get(i);
				var user_feed = $('.testimonial_list .card').get(i);
				user_feed.classList.remove('active')
				dt.classList.remove('active');
				
			}
			$('.testimonial_result .card').get(1).classList.add('active')
			$('.testimonial_list .card').get(1).classList.add('active')
			count = 3;
		}
		else if(count == 3){
			for(var i=0;i<user_data; i++){
				var dt = $('.testimonial_result .card').get(i);
				var user_feed = $('.testimonial_list .card').get(i);
				user_feed.classList.remove('active')
				dt.classList.remove('active');
				
			}
			$('.testimonial_result .card').get(2).classList.add('active')
			$('.testimonial_list .card').get(2).classList.add('active')
			count = 1;
		}

	}

setInterval(function(){
	feedback_curosal()
}, 3000)


</script>
{% endblock %}