{% extends 'landing_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/service.css'%}">
<style type="text/css" ></style>
<img src="{% static 'img/icons2.png'%}" style="position: absolute;width: 68%;z-index: -1;left: -25%;top: -22%;">
<section class="service_secation_1">
	<img src="{% static 'img/dots.png'%}" style="position: absolute;width: 15%;right: 3%;bottom: 10%;">
	<div class="container">
		<div class="row service_header" style="margin:auto;">
			<div class="col-lg-6 col-md-6 col-sm-12 row header_left">
				<strong>Our Services</strong>
				<p class="text-start">Leading provider of AI-powered content creation services. Leveraging cutting-edge artificial intelligence technologies, we specialize in generating high-quality and engaging content for various industries and platforms.</p>

				<a href="#" class="btn-service text-light">Try our serives</a>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 header_img">
				<img src="{% static 'img/our-services.png'%}">
			</div>
		</div>
	</div>
</section>

<section class="service_secation_2">
	<div class="container">
		<div class="row d-flex service_cards" style="margin:auto;">
			
			<div class="card">
				<div class="card-body">
				<div class="row" style="margin:auto;">
					<p class="text-start"><i class="fa-solid fa-language"></i></p>
					<strong>Text Service</strong>
					<p class="text-start">AI-powered text services for blog creation, email writing, SEO optimization, and viral title creation.</p>
					<a href="#text_service" class="explorebtn">Explore</a>
				</div>		
				</div>
			</div>

			<div class="card">
				<div class="card-body">
				<div class="row" style="margin:auto;">
					<p class="text-start"><i class="fa-solid fa-image"></i></p>
					<strong>Image Service</strong>
					<p class="text-start">Create captivating visuals effortlessly using AI, enhancing your brand identity and unleashing your creativity.</p>
					<a href="#image_service" class="explorebtn">Explore</a>
				</div>		
				</div>
			</div>

			<div class="card">
				<div class="card-body">
				<div class="row" style="margin:auto;">
					<p class="text-start"><i class="fa-solid fa-headphones"></i></p>
					<strong>Audio Service</strong>
					<p class="text-start">Transform text into engaging audio and elevate your projects with personalized music.</p>
					<a href="#audio_service" class="explorebtn">Explore</a>
				</div>		
				</div>
			</div>

			<div class="card">
				<div class="card-body">
				<div class="row" style="margin:auto;">
					<p class="text-start"><i class="fa-solid fa-video"></i></p>
					<strong>Video Service</strong>
					<p class="text-start">Text to Video Generator, allowing you to transform text into captivating videos effortlessly.</p>
					<a href="#video_service" class="explorebtn">Explore</a>
				</div>		
				</div>
			</div>
		</div>
	</div>
</section>


<section class="service_secation_3" id="text_service">
	<div class="container">
		<strong>Text to text service</strong>
		<div class="row d-flex text_service_list" style="margin:auto;">
			
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="service_secation_4" id="image_service">
	<div class="container">
		<strong>Text to image service</strong>
		<div class="row d-flex text_service_list" style="margin:auto;">
			
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
	</div>
</section>
<section class="service_secation_5" id="audio_service">
	<div class="container">
		<strong>Text to audio service</strong>
		<div class="row d-flex text_service_list" style="margin:auto;">
			
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
	</div>
</section>
<section class="service_secation_6" id="video_service">
	<div class="container">
		<strong>Text to video service</strong>
		<div class="row d-flex text_service_list" style="margin:auto;">
			
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<strong>Blog Writing</strong>
					<p class="text-start">Unlock the Power of Words: Professional Blog Writing Services.</p>
					<a href="login">Try now</a>
				</div>
			</div>
	</div>
</section>

{% endblock %}